:root {
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --graygray-voco: rgba(245, 247, 250, 1);
  --graygray-50: rgba(235, 238, 241, 1);
  --graygray-100: rgba(223, 225, 228, 1);
  --graygray-200: rgba(188, 189, 190, 1);
  --graygray-300: rgba(158, 159, 161, 1);
  --graygray-400: rgba(139, 140, 142, 1);
  --graygray-500: rgba(110, 111, 114, 1);
  --graygray-600: rgba(100, 101, 104, 1);
  --graygray-700: rgba(78, 79, 81, 1);
  --graygray-800: rgba(61, 61, 63, 1);
  --graygray-900: rgba(30, 31, 33, 1);
  --ekksl-greengreen-50: rgba(244, 250, 234, 1);
  --ekksl-greengreen-100: rgba(221, 240, 191, 1);
  --ekksl-greengreen-200: rgba(205, 232, 160, 1);
  --ekksl-greengreen-300: rgba(182, 222, 117, 1);
  --ekksl-greengreen-400: rgba(168, 216, 90, 1);
  --ekksl-greengreen-500: rgba(146, 206, 49, 1);
  --ekksl-greengreen-600: rgba(133, 187, 45, 1);
  --ekksl-greengreen-700: rgba(104, 146, 35, 1);
  --ekksl-greengreen-800: rgba(80, 113, 27, 1);
  --ekksl-greengreen-900: rgba(61, 87, 21, 1);
  --orange-toidukoolorange-50: rgba(254, 245, 233, 1);
  --orange-toidukoolorange-100: rgba(253, 225, 188, 1);
  --orange-toidukoolorange-200: rgba(252, 210, 156, 1);
  --orange-toidukoolorange-300: rgba(251, 189, 110, 1);
  --orange-toidukoolorange-400: rgba(250, 177, 82, 1);
  --orange-toidukoolorange-500: rgba(249, 157, 39, 1);
  --orange-toidukoolorange-600: rgba(227, 143, 35, 1);
  --orange-toidukoolorange-700: rgba(177, 111, 28, 1);
  --orange-toidukoolorange-800: rgba(137, 86, 21, 1);
  --orange-toidukoolorange-900: rgba(105, 66, 16, 1);
  --green-turismikoolgreen-50: rgba(250, 251, 235, 1);
  --green-turismikoolgreen-100: rgba(239, 244, 193, 1);
  --green-turismikoolgreen-200: rgba(231, 238, 163, 1);
  --green-turismikoolgreen-300: rgba(219, 231, 120, 1);
  --green-turismikoolgreen-400: rgba(213, 226, 94, 1);
  --green-turismikoolgreen-500: rgba(202, 219, 54, 1);
  --green-turismikoolgreen-600: rgba(184, 199, 49, 1);
  --green-turismikoolgreen-700: rgba(143, 155, 38, 1);
  --green-turismikoolgreen-800: rgba(111, 120, 30, 1);
  --green-turismikoolgreen-900: rgba(85, 92, 23, 1);
  --green-ehituskoolgreen-50: rgba(231, 247, 237, 1);
  --green-ehituskoolgreen-100: rgba(180, 231, 199, 1);
  --green-ehituskoolgreen-200: rgba(144, 219, 172, 1);
  --green-ehituskoolgreen-300: rgba(93, 203, 134, 1);
  --green-ehituskoolgreen-400: rgba(61, 193, 111, 1);
  --green-ehituskoolgreen-500: rgba(13, 177, 75, 1);
  --green-ehituskoolgreen-600: rgba(12, 161, 68, 1);
  --green-ehituskoolgreen-700: rgba(9, 126, 53, 1);
  --green-ehituskoolgreen-800: rgba(7, 97, 41, 1);
  --green-ehituskoolgreen-900: rgba(5, 74, 32, 1);
  --blue-tehnikakoolblue-50: rgba(230, 243, 250, 1);
  --blue-tehnikakoolblue-100: rgba(176, 218, 240, 1);
  --blue-tehnikakoolblue-200: rgba(138, 201, 233, 1);
  --blue-tehnikakoolblue-300: rgba(84, 176, 223, 1);
  --blue-tehnikakoolblue-400: rgba(51, 161, 217, 1);
  --blue-tehnikakoolblue-500: rgba(0, 137, 207, 1);
  --blue-tehnikakoolblue-600: rgba(0, 125, 188, 1);
  --blue-tehnikakoolblue-700: rgba(0, 97, 147, 1);
  --blue-tehnikakoolblue-800: rgba(0, 75, 114, 1);
  --blue-tehnikakoolblue-900: rgba(0, 58, 87, 1);
  --red-arikoolred-50: rgba(253, 236, 236, 1);
  --red-arikoolred-100: rgba(250, 196, 197, 1);
  --red-arikoolred-200: rgba(248, 167, 169, 1);
  --red-arikoolred-300: rgba(244, 127, 130, 1);
  --red-arikoolred-400: rgba(242, 102, 105, 1);
  --red-arikoolred-500: rgba(239, 64, 68, 1);
  --red-arikoolred-600: rgba(217, 58, 62, 1);
  --red-arikoolred-700: rgba(170, 45, 48, 1);
  --red-arikoolred-800: rgba(131, 35, 37, 1);
  --red-arikoolred-900: rgba(100, 27, 29, 1);
  --purple-ilukoolpurple-50: rgba(248, 233, 244, 1);
  --purple-ilukoolpurple-100: rgba(232, 185, 220, 1);
  --purple-ilukoolpurple-200: rgba(221, 152, 203, 1);
  --purple-ilukoolpurple-300: rgba(205, 104, 179, 1);
  --purple-ilukoolpurple-400: rgba(195, 75, 165, 1);
  --purple-ilukoolpurple-500: rgba(180, 30, 142, 1);
  --purple-ilukoolpurple-600: rgba(164, 27, 129, 1);
  --purple-ilukoolpurple-700: rgba(128, 21, 101, 1);
  --purple-ilukoolpurple-800: rgba(99, 17, 78, 1);
  --purple-ilukoolpurple-900: rgba(76, 13, 60, 1);
  --light-blue-it-koollight-blue-50: rgba(233, 249, 254, 1);
  --light-blue-it-koollight-blue-100: rgba(186, 237, 252, 1);
  --light-blue-it-koollight-blue-200: rgba(152, 228, 250, 1);
  --light-blue-it-koollight-blue-300: rgba(106, 215, 248, 1);
  --light-blue-it-koollight-blue-400: rgba(77, 208, 246, 1);
  --light-blue-it-koollight-blue-500: rgba(32, 196, 244, 1);
  --light-blue-it-koollight-blue-600: rgba(29, 178, 222, 1);
  --light-blue-it-koollight-blue-700: rgba(23, 139, 173, 1);
  --light-blue-it-koollight-blue-800: rgba(18, 108, 134, 1);
  --light-blue-it-koollight-blue-900: rgba(13, 82, 102, 1);
  --green-koolitusedgreen-50: rgba(230, 248, 245, 1);
  --green-koolitusedgreen-100: rgba(176, 233, 225, 1);
  --green-koolitusedgreen-200: rgba(138, 222, 210, 1);
  --green-koolitusedgreen-300: rgba(84, 207, 189, 1);
  --green-koolitusedgreen-400: rgba(51, 198, 177, 1);
  --green-koolitusedgreen-500: rgba(0, 184, 157, 1);
  --green-koolitusedgreen-600: rgba(0, 167, 143, 1);
  --green-koolitusedgreen-700: rgba(0, 131, 111, 1);
  --green-koolitusedgreen-800: rgba(0, 101, 86, 1);
  --green-koolitusedgreen-900: rgba(0, 77, 66, 1);
  --motserrat-64px-font-family: "Montserrat-Regular", Helvetica;
  --motserrat-64px-font-weight: 400;
  --motserrat-64px-font-size: 64px;
  --motserrat-64px-letter-spacing: 0px;
  --motserrat-64px-line-height: normal;
  --motserrat-64px-font-style: normal;
  --montserrat-64px-font-family: "Montserrat-Bold", Helvetica;
  --montserrat-64px-font-weight: 700;
  --montserrat-64px-font-size: 64px;
  --montserrat-64px-letter-spacing: 0px;
  --montserrat-64px-line-height: normal;
  --montserrat-64px-font-style: normal;
  --montserrat-56px-font-family: "Montserrat-Regular", Helvetica;
  --montserrat-56px-font-weight: 400;
  --montserrat-56px-font-size: 56px;
  --montserrat-56px-letter-spacing: 0px;
  --montserrat-56px-line-height: normal;
  --montserrat-56px-font-style: normal;
  --montserrat-48px-font-family: "Montserrat-Bold", Helvetica;
  --montserrat-48px-font-weight: 700;
  --montserrat-48px-font-size: 48px;
  --montserrat-48px-letter-spacing: 0px;
  --montserrat-48px-line-height: normal;
  --montserrat-48px-font-style: normal;
  --montserrat-40px-font-family: "Montserrat-Bold", Helvetica;
  --montserrat-40px-font-weight: 700;
  --montserrat-40px-font-size: 40px;
  --montserrat-40px-letter-spacing: 0px;
  --montserrat-40px-line-height: normal;
  --montserrat-40px-font-style: normal;
  --montserrat-36px-font-family: "Montserrat-Bold", Helvetica;
  --montserrat-36px-font-weight: 700;
  --montserrat-36px-font-size: 36px;
  --montserrat-36px-letter-spacing: 0px;
  --montserrat-36px-line-height: normal;
  --montserrat-36px-font-style: normal;
  --montserrat-24px-font-family: "Montserrat-Bold", Helvetica;
  --montserrat-24px-font-weight: 700;
  --montserrat-24px-font-size: 24px;
  --montserrat-24px-letter-spacing: 0px;
  --montserrat-24px-line-height: normal;
  --montserrat-24px-font-style: normal;
  --montserrat-20px-font-family: "Montserrat-Regular", Helvetica;
  --montserrat-20px-font-weight: 400;
  --montserrat-20px-font-size: 20px;
  --montserrat-20px-letter-spacing: 0px;
  --montserrat-20px-line-height: normal;
  --montserrat-20px-font-style: normal;
  --montserrat-18px-font-family: "Montserrat-Regular", Helvetica;
  --montserrat-18px-font-weight: 400;
  --montserrat-18px-font-size: 18px;
  --montserrat-18px-letter-spacing: 0px;
  --montserrat-18px-line-height: normal;
  --montserrat-18px-font-style: normal;
  --montserrat-16px-font-family: "Montserrat-Bold", Helvetica;
  --montserrat-16px-font-weight: 700;
  --montserrat-16px-font-size: 16px;
  --montserrat-16px-letter-spacing: 0px;
  --montserrat-16px-line-height: normal;
  --montserrat-16px-font-style: normal;
  --montserrat-14px-font-family: "Montserrat-Regular", Helvetica;
  --montserrat-14px-font-weight: 400;
  --montserrat-14px-font-size: 14px;
  --montserrat-14px-letter-spacing: 0px;
  --montserrat-14px-line-height: normal;
  --montserrat-14px-font-style: normal;
  --BLACKHAWK-font-family: "BLACKHAWK-Regular", Helvetica;
  --BLACKHAWK-font-weight: 400;
  --BLACKHAWK-font-size: 64px;
  --BLACKHAWK-letter-spacing: 0px;
  --BLACKHAWK-line-height: normal;
  --BLACKHAWK-font-style: normal;
}
